.logo{
  width : 20vw;
}
.code{
  height: 50vh;
  width:50vw;
}

.form-box{
  background-color: rgba(242, 245, 248, 0.959);
  width : 80vw;
}

.contain{
  background-color: rgb(238, 235, 235);
}

.codearea{
  width: 20vw;
}
.subListContain{
  width : 70vw;
}
.buttons{
  width : 30vh;
}